* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cell: 2rem;
  --gap: 0.1rem;
  --board: calc((var(--cell) + var(--gap)) * 10 - var(--gap));
  --def-cell: rgb(247, 247, 247);
  --outline-cell: rgb(235, 235, 235);
  --click-cell: rgb(201, 201, 201);
  --ship: rgb(155, 155, 155);
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boards {
  display: flex;
  gap: 3rem;
}

.board {
  height: var(--board);
  width: var(--board);
  background-color: var(--outline-cell);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.cell {
  height: var(--cell);
  width: var(--cell);
  background-color: var(--def-cell);
}

.cell:hover{
    background-color: var(--outline-cell);
    cursor: pointer;
}

.cell:active{
    background-color: var(--click-cell);
}

.ship{
    background-color: var(--ship);
    border: solid 1px black;
}